<section class="testimonials section-bg">
    <div class="container">

        <app-section-title [title]="'Testimonials'"
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"></app-section-title>

        <div class="testimonials-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let testimonial of testimonials">
                    <div class="testimonial-item">
                        <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i> {{ testimonial.text }} <i class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                        <img [src]="testimonial.img" class="testimonial-img" alt="{{testimonial.name}}">
                        <h3>{{ testimonial.name }}</h3>
                        <h4>{{ testimonial.role }}</h4>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>