.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 10%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

@media (max-width: 768px) {
  .custom-alert-overlay {
    z-index: 9999;
    left: 0;
  }
}

.custom-alert-box {
  position: relative;
  max-width: 400px;
  width: 90%;
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-alert-box .alert_content_wrap {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  text-align: left;
}

.custom-alert-box .alert_content_wrap i {
  font-size: 2rem;
}

.custom-alert-box .alert_content h6 {
  margin: 0 0 0.25rem 0;
}

.custom-alert-box .alert_content p {
  margin: 0;
  font-size: 1rem;
}

.custom-alert-box button {
  color: #555;
  position: absolute;
  top: 6px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.success {
  color: #198754;
}

.success .alert_content p {
  color: #198754;
}

.error {
  color: #dc3545;
}

.error .alert_content p {
  color: #dc3545;
}
