<section class="contact">
    <div class="container">

        <app-section-title [title]="'Contact'"
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"></app-section-title>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">

                    <!-- Address -->
                    <app-icon-tag [icon]="'geo-alt'" [title]="'Location'"
                        [detail]="'A108 Adam Street, New York, NY 535022'"></app-icon-tag>

                    <!-- Email -->
                    <app-icon-tag [icon]="'envelope'" [title]="'Email'" [detail]="'info at example.com'"></app-icon-tag>

                    <!-- Call    -->
                    <app-icon-tag [icon]="'phone'" [title]="'Call'" [detail]="'+1 5589 55488 55'"></app-icon-tag>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">

                    <div class="row">

                        <!-- Name -->
                        <div class="col-md-6">
                            <app-input [id]="'name'" [label]="'Name'" [type]="'text'"
                                [placeholder]="'Alex John'"></app-input>
                        </div>

                        <!-- Email -->
                        <div class="col-md-6">
                            <app-input [id]="'email'" [label]="'Email'" [type]="'email'"
                                [placeholder]="'alex_john1@gmail.com'"></app-input>
                        </div>

                        <!-- Subject -->
                        <div class="col-md-12">
                            <app-input [id]="'subject'" [label]="'Subject'" [type]="'text'"
                                [placeholder]="'I want UI/UX consultancy'"></app-input>
                        </div>

                        <!-- Message -->
                        <div class="col-md-12">
                            <app-textarea [id]="'message'" [label]="'Message'" [rows]="10"
                                [placeholder]="'Write your message here...'"></app-textarea>
                        </div>

                    </div>

                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>

                    <div class="text-center"><button type="submit">Send Message</button></div>

                </form>

            </div>

        </div>

    </div>
</section>