<section class="portfolio section-bg">
    <div class="container">

        <app-section-title [title]="'Portfolio'"
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"></app-section-title>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-web">Desktop</li>
                    <li data-filter=".filter-app">Mobile</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <app-portfolio-card [Image]="'portfolio-1'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <app-portfolio-card [Image]="'portfolio-2'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <app-portfolio-card [Image]="'portfolio-3'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <app-portfolio-card [Image]="'portfolio-4'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <app-portfolio-card [Image]="'portfolio-5'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <app-portfolio-card [Image]="'portfolio-6'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <app-portfolio-card [Image]="'portfolio-7'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <app-portfolio-card [Image]="'portfolio-8'"></app-portfolio-card>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <app-portfolio-card [Image]="'portfolio-9'"></app-portfolio-card>
            </div>

        </div>

    </div>
</section>