#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.btn-top {
    background: #000;
    color: #fff;
}

.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    /* default when scroll button is hidden */
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: bottom 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.btn-whatsapp.shifted {
    bottom: 90px;
    /* when back-to-top is visible */
}

.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.btn-whatsapp:hover {
    transform: scale(1.1);
    background-color: #1ebe5b;
    text-decoration: none;
}