.btn-ui {
  padding: 10px 14px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn-ui:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.btn-ui-two {
  padding: 10px 14px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-ui-two:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.btn-ui-three {
  padding: 10px 14px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn-ui-three:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.btn-ui-four {
  padding: 10px 14px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.btn-ui-four:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
