/* Design1 */
.btn-ui {
    padding: 12px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    border-color: #000;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.btn-ui:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


/* Design2 */
.btn-ui-two {
    padding: 12px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.btn-ui-two:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #ffffff;
}