<section class="facts">
    <div class="container">

        <app-section-title [title]="'Facts'"
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"></app-section-title>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <app-count-box [icon]="'emoji-smile'" [title]="'Happy Clients'" [description]="'Lorem Ipsum'"
                    [startCount]="0" [endCount]="232"></app-count-box>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <app-count-box [icon]="'journal-richtext'" [title]="'Projects'" [description]="'Lorem Ipsum'"
                    [startCount]="0" [endCount]="521"></app-count-box>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <app-count-box [icon]="'headset'" [title]="'Hours Of Support'" [description]="'Lorem Ipsum'"
                    [startCount]="0" [endCount]="1453"></app-count-box>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <app-count-box [icon]="'people'" [title]="'Hard Workers'" [description]="'Lorem Ipsum'" [startCount]="0"
                    [endCount]="32"></app-count-box>
            </div>

        </div>

    </div>
</section>