<section id="services-section" class="services">
    <div class="container">

        <app-section-title [title]="'What I Can Do for You'"
            [description]="'From clean UI design to responsive development and scalable design systems — I help turn your ideas into powerful digital experiences.'"></app-section-title>

        <div class="content-wrap pt-2">

            <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let s of services" data-aos="fade-up"
                    [attr.data-aos-delay]="s.delay">
                    <app-service-card [icon]="s.icon" [title]="s.title"
                        [description]="s.description"></app-service-card>
                </div>
            </div>

        </div>

    </div>
</section>