<!-- <div class="icon-box">

    <div class="service_box_wrap">

        <div class="service_title__wrap">
            <div class="icon"><i [class]="'bi bi-' + icon"></i></div>
            <h4 class="title"><a href="">{{title}}</a></h4>
        </div>

        <p class="description">{{description}}</p>

    </div>

</div> -->

<div class="icon-box">

    <div class="service_cont">

        <div class="icon"><i [class]="'bi bi-' + icon"></i></div>

        <div class="content">
            <h4 class="title"><a href="">{{title}}</a></h4>
            <p class="description">{{description}}</p>
        </div>

    </div>

</div>