<!-- ======= Header ======= -->
<header id="header">

    <i class="bi mobile-nav-toggle d-xl-none" [ngClass]="isMobileNavOpen ? 'bi-x' : 'bi-list'"
        (click)="toggleMobileNav()"> </i>

    <div class="hassan-nav">

        <!-- Header -->
        <div class="profile mt-2">

            <!-- <img src="assets/img/profile_img.png" alt="" class="img-fluid rounded-circle"> -->

            <div class="menu-title">\
                <h1 class="text-light"> <a href="index.html">Syed Hassan</a> </h1>
                <p class="text-light">UI Dev with a UX Heart</p>
            </div>

            <div class="social-links mt-4 text-center">

                <a href="https://www.facebook.com/profile.php?id=100002755641968" class="facebook"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/syedhassannalii?igsh=MmVhM3Jxb2lobTY0" class="instagram"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/syedhassanali01/" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
                <a href="https://www.behance.net/syedhassanali1" class="google-plus"><i class="bx bxl-behance"></i></a>

            </div>

        </div>

        <!-- Menu -->
        <nav id="navbar" class="nav-menu navbar">

            <ul>

                <!-- Hero Section -->
                <li *ngIf="false">
                    <a (click)="navigateToSection('hero-section','')" class="nav-link scrollto"
                        [class.active]="activeSection === 'hero-section'">
                        <i class="fa-solid fa-house-chimney"></i> <span>Welcome Hub</span></a>
                </li>

                <!-- About Section -->
                <li>
                    <a (click)="navigateToSection('about-section','about')"
                        [class.active]="activeSection === 'about-section'">
                        <i class="fa-solid fa-circle-info"></i> <span>Who I Am</span></a>
                </li>

                <!-- Skills Section -->
                <li>
                    <a (click)="navigateToSection('skills-section','skills')"
                        [class.active]="activeSection === 'skills-section'">
                        <i class="fa-solid fa-laptop-code"></i> <span>Tech Stack</span></a>
                </li>

                <!-- Experience Section -->
                <li>
                    <a (click)="navigateToSection('experience-section','experience')"
                        [class.active]="activeSection === 'experience-section'">
                        <i class="fa-solid fa-briefcase"></i> <span>Experience</span></a>
                </li>

                <!-- Certifications Section -->
                <li>
                    <a (click)="navigateToSection('certification-section','certification')"
                        [class.active]="activeSection === 'certification-section'">
                        <i class="fa-solid fa-medal"></i> <span>Certifications</span></a>
                </li>

                <!-- Portfolio Section -->
                <li>
                    <a (click)="navigateToSection('portfolio-section','portfolio')"
                        [class.active]="activeSection === 'portfolio-section'">
                        <i class="fa-solid fa-folder-open"></i> <span>Portfolio</span></a>
                </li>

                <!-- Servcies Section -->
                <li>
                    <a (click)="navigateToSection('services-section','services')"
                        [class.active]="activeSection === 'services-section'">
                        <i class="fa-solid fa-screwdriver-wrench"></i> <span>Services</span></a>
                </li>

                <!-- Contact Section -->
                <li>
                    <a (click)="navigateToSection('contact-section','contact')"
                        [class.active]="activeSection === 'contact-section'">
                        <i class="fa-solid fa-phone"></i> <span>Say Hello</span></a>
                </li>

            </ul>

        </nav>

        <div class="side-bottom">
            <div class="ct-btn">
                <app-ng-button [title]="'GitHub Profile'" [icon]="'github'" [type]="'Design2'"
                    (click)="goToGitHub()"></app-ng-button>
                <app-ng-button [title]="'View Resume'" [icon]="'external-link-alt'" [type]="'Design4'"
                    (click)="goToDrive()"></app-ng-button>
                <!-- <app-ng-button [title]="'Get Resume'" [icon]="'download'" [type]="'Design4'"
                    (click)="downloadCV()"></app-ng-button> -->
            </div>
        </div>

    </div>

</header>
<!-- End Header -->

<!-- Custom Alert Box -->
<div *ngIf="showAlert" class="custom-alert-overlay">
    <div class="custom-alert-box">

        <div [ngClass]="['alert_content_wrap', alertType]">
            <!-- Icon (optional) -->
            <i *ngIf="alertType === 'success'" class="bi bi-check-circle-fill success"></i>
            <i *ngIf="alertType === 'error'" class="bi bi-exclamation-circle-fill error"></i>

            <div class="alert_content">
                <h6>{{ alertTitle }}</h6>
                <p>{{ alertMessage }}</p>
            </div>
        </div>

        <!-- Confirmation Buttons -->
        <div *ngIf="alertType === 'confirm'" class="alert_actions">
            <button class="btn-confirm yes" (click)="confirmDownload(true)">Yes</button>
            <button class="btn-confirm no" (click)="confirmDownload(false)">No</button>
        </div>

        <!-- Close button for success/error -->
        <button *ngIf="alertType !== 'confirm'" class="alert-close" (click)="closeAlert()">×</button>
    </div>
</div>