<section id="resume-section" class="resume">

    <div class="container">

        <app-section-title [title]="'Quick Look at My Path'"
            [description]="'From early designs to live projects, this timeline highlights my education, experience, and milestones in the digital world.'"></app-section-title>

        <div class="content-wrap">

            <div class="row" *ngIf="isScreen == 1">

                <!-- Left Column (Objective, Education, Certifications) -->
                <div class="col-lg-6" data-aos="fade-up">
                    <div *ngFor="let section of leftColumnSections">
                        <h3 class="resume-title">{{ section.title }}</h3>
                        <div class="resume-item" *ngFor="let item of section.items">
                            <h4>{{ item.heading }}</h4>
                            <h5 *ngIf="item.duration">{{ item.duration }}</h5>
                            <p *ngIf="item.location"><em>{{ item.location }}</em></p>
                            <p *ngIf="item.description">{{ item.description }}</p>

                            <ul *ngIf="item.list.length">
                                <li *ngFor="let listItem of item.list">{{ listItem }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Right Column (Experience, Recent Projects) -->
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div *ngFor="let section of rightColumnSections">
                        <h3 class="resume-title">{{ section.title }}</h3>

                        <div class="resume-item" *ngFor="let item of section.items">
                            <h4>{{ item.heading }}</h4>
                            <h5 *ngIf="item.duration">{{ item.duration }}</h5>
                            <p *ngIf="item.location"><em>{{ item.location }}</em></p>
                            <p *ngIf="item.description">{{ item.description }}</p>

                            <ul *ngIf="item.list.length">
                                <li *ngFor="let listItem of item.list">{{ listItem }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<div class="text-center">
    <app-ng-button [title]="'Get Resume'" [icon]="'download'" (click)="downloadCV()" [type]="'Design1'"></app-ng-button>
</div>