<!-- ======= Hero Section ======= -->
<app-hero-section id="hero-section"></app-hero-section>
<!-- End Hero -->

<main id="main">

    <!-- ======= About Section Done ======= -->
    <app-about-section id="about-section"></app-about-section>
    <!-- End About Section -->

    <!-- ======= Skills Section Done ======= -->
    <app-skills-section id="skills-section"></app-skills-section>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <!-- <app-resume-section id="resume-section"></app-resume-section> -->
    <!-- End Resume Section -->

    <!-- ======= Experience Section ======= -->
    <app-experience-section id="experience-section"></app-experience-section>
    <!-- End Experience Section -->

    <!-- ======= Certifications Section Done ======= -->
    <app-certification-section id="certification-section"></app-certification-section>
    <!-- End Certifications Section -->

    <!-- ======= Portfolio Section Done ======= -->
    <app-portfolio-section id="portfolio-section"></app-portfolio-section>
    <!-- End Portfolio Section -->

    <!-- ======= Services Section Done ======= -->
    <app-services-section id="services-section"></app-services-section>
    <!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <app-contact-section id="contact-section"></app-contact-section>
    <!-- End Contact Section -->

</main>


<!-- Floating Buttons -->
<app-floating-buttons></app-floating-buttons>