<!-- ======= Hero Section ======= -->
<app-hero-section id="hero-section"></app-hero-section>
<!-- End Hero -->

<main id="main">

    <!-- ======= About Section Done ======= -->
    <app-about-section id="about-section"></app-about-section>
    <!-- End About Section -->

    <!-- ======= Facts Section Done ======= -->
    <!-- <app-facts-section id="fact-section"></app-facts-section> -->
    <!-- End Facts Section -->

    <!-- ======= Skills Section Done ======= -->
    <app-skills-section id="skills-section"></app-skills-section>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <app-resume-section id="resume-section"></app-resume-section>
    <!-- End Resume Section -->

    <!-- ======= Portfolio Section Done ======= -->
    <app-portfolio-section id="portfolio-section"></app-portfolio-section>
    <!-- End Portfolio Section -->

    <!-- ======= Services Section Done ======= -->
    <app-servcies-section id="services-section"></app-servcies-section>
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <app-testimonials-section id="testimonial-section"></app-testimonials-section> -->
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <app-contact-section id="contact-section"></app-contact-section>
    <!-- End Contact Section -->

</main>

<!-- Floating Buttons -->
<app-floating-buttons></app-floating-buttons>