<section class="skills section-bg">
    <div class="container">

        <app-section-title [title]="'Skills'"
            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'"></app-section-title>

        <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">

                <app-skill-progress [skill]="'HTML'" [val]="100" [valueNow]="75" [valueMin]="0"
                    [valueMax]="100"></app-skill-progress>
                <app-skill-progress [skill]="'CSS'" [val]="90" [valueNow]="90" [valueMin]="0"
                    [valueMax]="100"></app-skill-progress>
                <app-skill-progress [skill]="'JavaScript'" [val]="75" [valueNow]="75" [valueMin]="0"
                    [valueMax]="100"></app-skill-progress>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <app-skill-progress [skill]="'PHP'" [val]="80" [valueNow]="80" [valueMin]="0"
                    [valueMax]="100"></app-skill-progress>
                <app-skill-progress [skill]="'WordPress/CMS'" [val]="90" [valueNow]="90" [valueMin]="0"
                    [valueMax]="100"></app-skill-progress>
                <app-skill-progress [skill]="'Photoshop'" [val]="60" [valueNow]="60" [valueMin]="0"
                    [valueMax]="100"></app-skill-progress>

            </div>

        </div>

    </div>
</section>