<section #skillsSection id="skills-section" class="skills section-bg">
    <div class="container">

        <app-section-title [title]="'Design & Dev Stack'"
            [description]="'Tools, frameworks, and technologies I rely on to transform ideas into interactive, scalable solutions.'"></app-section-title>

        <div class="content-wrap">

            <!-- Custom Tabs -->
            <ul class="custom-tabs mb-4" data-aos="fade-up">
                <li class="custom-tab-item">
                    <button class="custom-tab-button" [class.active]="selectedCategory === 'all'"
                        (click)="filterSkills('all')">All</button>
                </li>
                <li class="custom-tab-item">
                    <button class="custom-tab-button" [class.active]="selectedCategory === 'uiux'"
                        (click)="filterSkills('uiux')">UI/UX</button>
                </li>
                <li class="custom-tab-item">
                    <button class="custom-tab-button" [class.active]="selectedCategory === 'frontend'"
                        (click)="filterSkills('frontend')">Frontend</button>
                </li>
                <li class="custom-tab-item">
                    <button class="custom-tab-button" [class.active]="selectedCategory === 'controls'"
                        (click)="filterSkills('controls')">Version Control</button>
                </li>
                <li class="custom-tab-item">
                    <button class="custom-tab-button" [class.active]="selectedCategory === 'other'"
                        (click)="filterSkills('other')">Other</button>
                </li>
            </ul>

            <!-- Cards -->
            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div *ngFor="let ds of displayedSkills; let i = index" class="col-12 col-md-4 col-lg-3 skill-item" [ngClass]="'filter-' + ds.category" [style.--i]="i">
                    <app-skill-card [icon]="ds.icon" [level]="ds.level" [skill]="ds.skill"></app-skill-card>
                </div>

            </div>

        </div>

    </div>

</section>

<div class="text-center" *ngIf="showSeeMore || showingAll">
    <app-ng-button [title]="showingAll ? 'View Less' : 'View All'" [icon]="showingAll ? 'eye-slash' : 'eye'"
        (click)="seeMore()" [type]="'Design1'"> </app-ng-button>
</div>