<section id="hero-section" class="d-flex flex-column justify-content-center align-items-center">

    <div class="animate-container" data-aos="fade-in" *ngIf="true">
        <div class="animate-title">Designing the Experience, <br>Coding the Future.</div>
        <span class="animate-text"> </span>

        <div class="header-floating-icons">
            <div class="icon html"><i class="ico html"></i></div>
            <div class="icon css"><i class="ico css"></i></div>
            <div class="icon vs"><i class="ico vs"></i></div>
            <div class="icon figma"><i class="ico figma"></i></div>
            <div class="icon ps"><i class="ico ps"></i></div>
            <div class="icon angular"><i class="ico angular"></i></div>
        </div>

    </div>

</section>