<section id="hero" class="d-flex flex-column justify-content-center align-items-center">

    <div class="hero-container" data-aos="fade-in" *ngIf="false">
        <h1>Crafting Experiences, One Pixel at a Time.</h1>
        <p>UI/UX Designer & Frontend Developer focused on building intuitive and scalable products.</p>
    </div>

    <div class="animate-container" data-aos="fade-in" *ngIf="true">
        <div class="animate-title">Designing the Experience, <br>Coding the Future.</div>
        <span class="animate-text"> </span>
    </div>

</section>